@model Consume.Models.Emp

@{
   
    var index = (int)ViewData["index"];

}

<h1>Edit</h1>

<h4>Emp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
          
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" readonly="readonly" />
              
            </div>
            <div class="form-group">
                <label asp-for="EMPName" class="control-label"></label>
                <input asp-for="EMPName" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
             
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
           
            </div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                @Html.EditorFor(m => m.ProjectID[index]) 

            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                @Html.EditorFor(m => m.TeamId[index] ) 

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
